dotfiles
BACKUP/
bin/
downloads/
neovim/
pictures/
zettl.robert@gmail.com/
audiobooks/
bin/
containers/
desktop/
documents/
downloads/
misc/
music/
pictures/
public/
projects/
templates/
test/
videos/
vms/
development/

.credentials/
.vscode/
.android/

.bash_history
.bash_logout
.bashrc
.cache/
.config/Bitwarden/
.config/Code/
.config/Google/
.config/balena-etcher-electron/
.config/deluge/
.config/discord/
.config/enchant/
.config/eog/
.config/evince/


